
.section-banner {
  align-items: center;
  background: var(--highlight);
  border-radius: 20px;
  color: var(--bg-ddd);
  display: flex;
  font-weight: 700;
  font-size: .8125rem;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 20px 0;
  padding: 16px 20px;
  text-transform: uppercase;

  svg {
    color: var(--bg-ddd);
    flex-shrink: 0;
    margin-right: 8px;
  }
}

.section {
  background: var(--bg-d);
  border-radius: var(--radius);
  padding: 24px 20px;
  margin: 20px 0;
  overflow: hidden;

  > *:last-child {
    margin-bottom: 8px;
  }

  @media (min-width: 440px) {
    padding: 30px 30px;
  }
}

.section__heading {
  color: var(--body-text);
  font-family: var(--serif-heading);
  font-size: 1.125rem;
  letter-spacing: 3px;
  margin-top: 5px;
  margin-bottom: -5px;

  @media (min-width: 440px) {
    font-size: 1.25rem;
  }
}

.section__subheading {
  color: var(--highlight);
  font-family: var(--serif-body);
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: -12px;
  margin-top: 20px;

  &.subheading--margin {
    margin-bottom: -5px;
  }
}

blockquote {
  background-color: var(--bg-dd);
  background: linear-gradient(90deg, rgba(17,21,24,1) 0%, rgba(29,33,35,1) 75%);
  border-left: 3px solid var(--gray-ddd);
  margin: 20px 0 0;
  padding: 20px;

  > *:first-child {
    margin-top: 0;
  }

  cite {
    display: block;
    font-style: normal;
  }
}